.my-layout-playing-root {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100% !important;
    width: 100% !important;
}

.my-layout-playing-grid {
    display: grid !important;
    width: max-content;
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    row-gap: 1.5rem;
    column-gap: 1rem;
    padding: 1rem;
}

.my-layout-playing-player-container {
    width: max-content !important;
}

.my-layout-playing-list {
    width: 100%;
    height: max-content;
}
.my-layout-playing-list-placeholder {
    aspect-ratio: 16/9 !important;
    width: 100% !important;
}

.my-playing-player {
    width: 100% !important;
}
.react-player {
    background-color: black !important;
    overflow: hidden;
    border-radius: 1rem;
    height: auto;
    width: calc(100svw - 3rem) !important;
    min-width: 23rem;
    aspect-ratio: 16/9;
    min-height: 16rem;
}
.my-layout-playing-player-placeholder {
    overflow: hidden;
    border-radius: 1rem;
    height: auto;
    width: calc(100svw - 3rem) !important;
    min-width: 23rem;
    aspect-ratio: 16/9;
    min-height: 16rem;
}

.my-layout-playing-playlist {
    overflow: hidden;
    height: 22rem;
    width: 100%;
}

.my-layout-playing-playlist-body {
    overflow-y: auto;
    overflow-x: hidden;
}

.my-layout-playing-playlist-body > * {
    padding: 0.6rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem;
}

@media (min-width: 768px) {
    .my-layout-playing-grid {
        grid-template-columns: calc(100% - 24rem) calc(24rem - 1rem) !important;
    }
    .react-player {
        height: 70svh !important;
        max-height: 55rem;
        width: auto !important;
        max-width: calc(100svw - 27rem);
    }
    .my-layout-playing-player-placeholder {
        height: 70svh !important;
        max-height: 55rem;
        width: auto !important;
        max-width: calc(100svw - 27rem);
    }
    .my-layout-playing-playlist {
        height: max-content;
        min-height: 16rem;
        max-height: 55rem;
    }
}
