.my-layout-recording-body-div-video {
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 20svw !important;
    aspect-ratio: 16/9 !important;
    bottom: 0px;
    right: 0px;
    min-width: 13rem;
    max-width: 20rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    cursor: pointer;
    transition: transform 200ms;
}
.my-layout-recording-body-div-video:hover {
    transform: scale(1.01);
}
.my-layout-recording-body-div-video:active {
    transform: scale(0.99);
}

.my-layout-recording-body-div-video-selected {
    height: 100%;
    width: 100%;
    min-height: 15rem;
    object-fit: cover;
    background-color: black;
}

.my-layout-recording-body-play-button {
    transition: transform 300ms;
    transform: translate(calc(50svw - 1.85rem));
    margin-bottom: 2rem;
}
.my-layout-recording-body-play-button.recording {
    transform: translate(calc(50svw - 3.5rem));
}
