.my-card-record {
    height: max-content;
}

.my-card-record-thumbnail {
    background-color: black !important;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.my-card-record-div-baby-name {
    height: 2rem;
}
