.my-logged-layout-root {
    height: 100svh !important;
    width: 100svw !important;
    --height-header: 3rem;
}

.my-logged-layout-header {
    height: var(--height-header);
    --width-right: 5rem;
}
.my-logged-layout-header-left {
    display: flex !important;
    width: calc(100% - var(--width-right));
    flex-shrink: 0;
}
.my-logged-layout-header-right {
    width: var(--width-right);
    flex-shrink: 0;
}

.my-logged-layout-body {
    height: calc(100% - var(--height-header));
    transition: height 250ms;
    overflow-x: hidden;
    overflow-y: auto;
    --height-links: 1.5rem;
}
.my-logged-layout-body-links {
    height: var(--height-links);
}
.my-logged-layout-body-content {
    height: calc(100% - var(--height-links));
}
