$primary: #e08d79;
$primary-25: rgba(#e08d79, 0.25);
$primary-50: rgba(#e08d79, 0.5);
$primary-75: rgba(#e08d79, 0.75);

$primary-dark: #a54027;
$primary-dark-25: rgba(#a54027, 0.25);
$primary-dark-50: rgba(#a54027, 0.5);
$primary-dark-75: rgba(#a54027, 0.75);

$secondary: #818d92;
$secondary-25: rgba(#818d92, 0.25);
$secondary-50: rgba(#818d92, 0.5);
$secondary-75: rgba(#818d92, 0.75);

$dark: #363537;
$dark-25: rgba(#363537, 0.25);
$dark-50: rgba(#363537, 0.5);
$dark-75: rgba(#363537, 0.75);

$light: #fff8eb;
$light-25: rgba(#fff8eb, 0.25);
$light-50: rgba(#fff8eb, 0.5);
$light-75: rgba(#fff8eb, 0.75);

$info: #385f71;
$info-25: rgba(#385f71, 0.25);
$info-50: rgba(#385f71, 0.5);
$info-75: rgba(#385f71, 0.75);

$success: #9ee493;
$warning: #ffd449;
$danger: #ff6b6b;

@import "../node_modules/bootstrap/scss/bootstrap";

[data-bs-theme="light"] {
    // BACKGROUNDS
    .bg-primary {
        background-color: $primary !important;
        color: $dark !important;
    }
    .bg-secondary {
        background-color: lighten($secondary, 33%) !important;
        color: $dark !important;
    }
    .bg-light {
        background-color: $light !important;
        color: $dark !important;
    }
    .bg-dark {
        background-color: $dark !important;
        color: $light !important;
    }

    // TEXTS
    .text-primary {
        color: $primary-dark !important;
    }
    .text-secondary {
        color: $secondary !important;
    }
    .text-light {
        color: $light !important;
    }
    .text-dark {
        color: $dark !important;
    }
    .text-info {
        color: $info !important;
    }

    //BORDERS
    .border-primary {
        border-color: $primary !important;
    }
    .border-secondary {
        border-color: $secondary !important;
    }

    //BUTTONS
    .btn-transparent {
        background-color: transparent !important;
        &:hover {
            background-color: rgba($dark, 0.1) !important;
        }
        &:active {
            background-color: rgba($dark, 0.15) !important;
        }
    }
    .btn-primary {
        background-color: $primary !important;
        color: $dark !important;
        border-color: lighten($primary, 3%) !important;
        &:hover {
            background-color: darken($primary, 10%) !important;
        }
        &:active {
            background-color: darken($primary, 15%) !important;
        }
    }
    .btn-outline-secondary {
        background-color: transparent !important;
        color: darken($secondary, 15%) !important;
        border-color: lighten($secondary, 3%) !important;
        &:hover {
            background-color: darken($secondary, 0%) !important;
            color: white !important;
        }
        &:active {
            background-color: darken($secondary, 5%) !important;
        }
    }

    //FORMS.CONTROLS
    .form-control:focus {
        border-color: var($primary-75) !important;
        box-shadow: 0rem 0rem 0rem 0.15rem var($primary-50) !important;
    }

    //LINKS
    .my-link-dark {
        color: $dark !important;
        scale: 1 !important;
        transition: scale 150ms !important;
        &:hover {
            scale: 0.98 !important;
        }
        &:active {
            scale: 0.95 !important;
        }
    }
    .my-link-dark.my-link-active {
        color: $info !important;
    }

    //TABLES
    .my-table {
        background: lighten($secondary, 33%);
    }
    .my-table > tbody > tr:nth-child(odd) {
        background-color: lighten($secondary, 40%);
    }
    .my-table > tbody > tr:nth-child(odd):hover {
        background-color: lighten($secondary-25, 42%);
    }
    .my-table > tbody > tr:nth-child(even):hover {
        background-color: lighten($secondary-25, 42%);
    }

    //MENU LIST
    .my-menu-list {
        background-color: var(--bs-body-bg);
    }
    .my-menu-list > *:hover {
        background-color: rgba($dark, 10%);
    }
    .my-menu-list > *:active {
        background-color: rgba($dark, 15%);
    }
}

[data-bs-theme="dark"] {
    // BACKGROUNDS
    .bg-primary {
        background-color: $primary-dark !important;
        color: $light !important;
    }
    .bg-secondary {
        background-color: darken($secondary, 25%) !important;
        color: $light !important;
    }
    .bg-light {
        background-color: $dark !important;
        color: $light !important;
    }
    .bg-dark {
        background-color: $light !important;
        color: $dark !important;
    }

    // TEXTS
    .text-primary {
        color: $primary !important;
    }
    .text-secondary {
        color: $secondary !important;
    }
    .text-light {
        color: $dark !important;
    }
    .text-dark {
        color: $light !important;
    }
    .text-info {
        color: lighten($info, 30%) !important;
    }
    .text-danger {
        color: lighten($danger, 5%) !important;
    }

    //BORDERS
    .border-primary {
        border-color: $primary-dark !important;
    }
    .border-secondary {
        border-color: darken($secondary, 10%) !important;
    }

    //BUTTONS
    .btn-transparent {
        background-color: transparent !important;
        &:hover {
            background-color: rgba($light, 0.15) !important;
        }
        &:active {
            background-color: rgba($light, 0.2) !important;
        }
    }
    .btn-primary {
        background-color: $primary-dark !important;
        border-color: lighten($primary-dark, 3%) !important;
        color: $light !important;
        &:hover {
            background-color: darken($primary-dark, 10%) !important;
        }
        &:active {
            background-color: darken($primary-dark, 15%) !important;
        }
    }
    .btn-outline-secondary {
        background-color: transparent !important;
        color: lighten($secondary, 25%) !important;
        border-color: lighten($secondary, 10%) !important;
        &:hover {
            background-color: darken($secondary, 5%) !important;
            color: white !important;
        }
        &:active {
            background-color: darken($secondary, 10%) !important;
        }
    }

    //FORMS.CONTROLS
    .form-control:focus {
        border-color: var($primary-dark-75) !important;
        box-shadow: 0rem 0rem 0rem 0.15rem var($primary-dark-50) !important;
    }

    //LINKS
    .my-link-dark {
        color: $light !important;
        scale: 1 !important;
        transition: scale 150ms !important;
        &:hover {
            scale: 0.98 !important;
        }
        &:active {
            scale: 0.95 !important;
        }
    }
    .my-link-dark.my-link-active {
        color: #{lighten($info, 40%)} !important;
    }

    //TABLES
    .my-table {
        background-color: darken($secondary, 25%);
    }
    .my-table > tbody > tr:nth-child(odd) {
        background-color: $secondary-25;
    }
    .my-table > tbody > tr:hover {
        background-color: darken($secondary-25, 10%);
    }

    //MENU LIST
    .my-menu-list {
        background-color: var(--bs-body-bg);
    }
    .my-menu-list > *:hover {
        background-color: rgba($light, 10%);
    }
    .my-menu-list > *:active {
        background-color: rgba($light, 15%);
    }
}

//PARA TODOS OS TEMAS
//TABLE
.my-table > tbody > tr {
    cursor: pointer;
}
.my-table > tbody > tr > td {
    padding: 0.35rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.my-table > thead > tr > th {
    padding: 0.35rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.my-table > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: var(--bs-border-radius-xl) !important;
}
.my-table > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: var(--bs-border-radius-xl) !important;
}

//MENU LIST
.my-menu-list {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.my-menu-list > * {
    padding: 0.4rem !important;
    border: none;
    border-radius: 0px !important;
    display: flex !important;
    gap: 0.8rem !important;
    align-items: center !important;
}
.my-menu-list > *:hover {
    cursor: pointer;
    user-select: none;
}
