$primary: #95daac;
$primary-25: rgba(#95daac, 0.25);
$primary-50: rgba(#95daac, 0.5);
$primary-75: rgba(#95daac, 0.75);

$primary-dark: #2f4b39;
$primary-dark-25: rgba(#2f4b39, 0.25);
$primary-dark-50: rgba(#2f4b39, 0.5);
$primary-dark-75: rgba(#2f4b39, 0.75);

$secondary: #bbc2c9;
$secondary-25: rgba(#bbc2c9, 0.25);
$secondary-50: rgba(#bbc2c9, 0.5);
$secondary-75: rgba(#bbc2c9, 0.75);

$dark: #101913;
$dark-25: rgba(#101913, 0.25);
$dark-50: rgba(#101913, 0.5);
$dark-75: rgba(#101913, 0.75);

$light: #f2f7f4;
$light-25: rgba(#f2f7f4, 0.25);
$light-50: rgba(#f2f7f4, 0.5);
$light-75: rgba(#f2f7f4, 0.75);

$info: #365945;
$info-25: rgba(#365945, 0.25);
$info-50: rgba(#365945, 0.5);
$info-75: rgba(#365945, 0.75);

$success: #9ee493;
$warning: #ffd449;
$danger: #ff6b6b;

@import "../node_modules/bootstrap/scss/bootstrap";

[data-bs-theme="light"] {
    // BACKGROUNDS
    .bg-primary {
        background-color: darken($primary, 10%) !important;
        color: $dark !important;
    }
    .bg-primary-light {
        background-color: lighten($primary, 10%) !important;
        color: $dark !important;
    }
    .bg-secondary {
        background-color: lighten($secondary, 20%) !important;
        color: $dark !important;
    }
    .bg-light {
        background-color: $light !important;
        color: $dark !important;
    }
    .bg-dark {
        background-color: $dark !important;
        color: $light !important;
    }

    // TEXTS
    .text-primary {
        color: $primary-dark !important;
    }
    .text-secondary {
        color: $secondary !important;
    }
    .text-light {
        color: $light !important;
    }
    .text-dark {
        color: $dark !important;
    }
    .text-info {
        color: $info !important;
    }

    //BORDERS
    .border-primary {
        border-color: $primary !important;
    }
    .border-secondary {
        border-color: $secondary !important;
    }

    //BUTTONS
    .btn-transparent {
        background-color: transparent !important;
        &:hover {
            background-color: rgba($dark, 0.1) !important;
        }
        &:active {
            background-color: rgba($dark, 0.15) !important;
        }
    }
    .btn-primary {
        background-color: $primary !important;
        color: $dark !important;
        border-color: lighten($primary, 5%) !important;
        &:hover {
            background-color: darken($primary, 10%) !important;
        }
        &:active {
            background-color: darken($primary, 15%) !important;
        }
    }
    .btn-primary-dark {
        background-color: darken($primary, 25%) !important;
        border-color: darken($primary, 30%) !important;
        color: $dark !important;
        &:hover {
            background-color: darken($primary, 35%) !important;
        }
        &:active {
            background-color: darken($primary, 40%) !important;
        }
    }
    .btn-success-dark {
        background-color: darken($success, 15%) !important;
        border-color: darken($success, 10%) !important;
        color: $dark !important;
        &:hover {
            background-color: darken($success, 20%) !important;
        }
        &:active {
            background-color: darken($success, 25%) !important;
        }
    }
    .btn-secondary-dark {
        background-color: darken($secondary, 20%) !important;
        border-color: darken($secondary, 25%) !important;
        color: $dark !important;
        &:hover {
            background-color: darken($secondary, 30%) !important;
        }
        &:active {
            background-color: darken($secondary, 35%) !important;
        }
    }
    .btn-outline-secondary {
        background-color: transparent !important;
        color: darken($secondary, 15%) !important;
        border-color: lighten($secondary, 3%) !important;
        &:hover {
            background-color: darken($secondary, 0%) !important;
            color: white !important;
        }
        &:active {
            background-color: darken($secondary, 5%) !important;
        }
    }

    //FORMS.CONTROLS
    .form-control:focus {
        border-color: var($primary-75) !important;
        box-shadow: 0rem 0rem 0rem 0.15rem var($primary-50) !important;
    }

    //LINKS
    .my-link {
        color: darken($secondary, 30%) !important;
        scale: 1 !important;
        transition: scale 150ms !important;
        &:hover {
            scale: 0.98 !important;
        }
        &:active {
            scale: 0.95 !important;
        }
    }
    .my-link.my-link-active {
        color: $dark !important;
    }

    //TABLES
    .my-table {
        background: $secondary-50;
    }
    .my-table > tbody > tr:nth-child(odd) {
        background-color: lighten($secondary-50, 50%);
    }
    .my-table > tbody > tr:nth-child(odd):hover {
        background-color: darken($secondary-50, 10%);
    }
    .my-table > tbody > tr:nth-child(even):hover {
        background-color: darken($secondary-50, 10%);
    }

    //MENU LIST
    .my-menu-list {
        background-color: var(--bs-body-bg);
    }
    .my-menu-list > *:hover {
        background-color: rgba($dark, 10%);
    }
    .my-menu-list > *:active {
        background-color: rgba($dark, 15%);
    }
}

[data-bs-theme="dark"] {
    // BACKGROUNDS
    .bg-primary {
        background-color: $primary-dark !important;
        color: $light !important;
    }
    .bg-primary-light {
        background-color: lighten($primary-dark, 10%) !important;
        color: $dark !important;
    }
    .bg-secondary {
        background-color: darken($secondary, 25%) !important;
        color: $light !important;
    }
    .bg-light {
        background-color: $dark !important;
        color: $light !important;
    }
    .bg-dark {
        background-color: $light !important;
        color: $dark !important;
    }

    // TEXTS
    .text-primary {
        color: darken($primary, 10%) !important;
    }
    .text-secondary {
        color: $secondary !important;
    }
    .text-light {
        color: $dark !important;
    }
    .text-dark {
        color: $light !important;
    }
    .text-info {
        color: lighten($info, 30%) !important;
    }
    .text-danger {
        color: lighten($danger, 5%) !important;
    }

    //BORDERS
    .border-primary {
        border-color: $primary-dark !important;
    }
    .border-secondary {
        border-color: darken($secondary, 10%) !important;
    }

    //BUTTONS
    .btn-transparent {
        background-color: transparent !important;
        &:hover {
            background-color: rgba($light, 0.15) !important;
        }
        &:active {
            background-color: rgba($light, 0.2) !important;
        }
        &:focus {
            border: solid rgba($light, 0.4) 2px !important;
        }
    }
    .btn-primary {
        background-color: $primary-dark !important;
        border-color: lighten($primary-dark, 5%) !important;
        color: $light !important;
        &:hover {
            background-color: darken($primary-dark, 5%) !important;
        }
        &:active {
            background-color: darken($primary-dark, 10%) !important;
        }
    }
    .btn-primary-dark {
        background-color: darken($primary-dark, 8%) !important;
        border-color: darken($primary-dark, 13%) !important;
        color: $light !important;
        &:hover {
            background-color: darken($primary-dark, 13%) !important;
        }
        &:active {
            background-color: darken($primary-dark, 18%) !important;
        }
    }
    .btn-success-dark {
        background-color: darken($success, 45%) !important;
        border-color: darken($success, 50%) !important;
        color: $light !important;
        &:hover {
            background-color: darken($success, 50%) !important;
        }
        &:active {
            background-color: darken($success, 55%) !important;
        }
    }
    .btn-secondary {
        background-color: darken($secondary, 20%) !important;
        border-color: darken($secondary, 25%) !important;
        color: $light !important;
        &:hover {
            background-color: darken($secondary, 25%) !important;
        }
        &:active {
            background-color: darken($secondary, 30%) !important;
        }
    }
    .btn-secondary-dark {
        background-color: darken($secondary, 40%) !important;
        border-color: darken($secondary, 45%) !important;
        color: $light !important;
        &:hover {
            background-color: darken($secondary, 45%) !important;
        }
        &:active {
            background-color: darken($secondary, 50%) !important;
        }
    }
    .btn-outline-secondary {
        background-color: transparent !important;
        color: lighten($secondary, 25%) !important;
        border-color: lighten($secondary, 10%) !important;
        &:hover {
            background-color: darken($secondary, 5%) !important;
            color: white !important;
        }
        &:active {
            background-color: darken($secondary, 10%) !important;
        }
    }

    //FORMS.CONTROLS
    .form-control:focus {
        border-color: var($primary-dark-75) !important;
        box-shadow: 0rem 0rem 0rem 0.15rem var($primary-dark-50) !important;
    }

    //LINKS
    .my-link {
        color: $secondary !important;
        scale: 1 !important;
        transition: scale 150ms !important;
        &:hover {
            scale: 0.98 !important;
        }
        &:active {
            scale: 0.95 !important;
        }
    }
    .my-link.my-link-active {
        color: $light !important;
    }

    //TABLES
    .my-table {
        background: darken($secondary-25, 10%);
    }
    .my-table > tbody > tr:nth-child(odd) {
        background-color: darken($secondary-25, 15%);
    }
    .my-table > tbody > tr:nth-child(odd):hover {
        background-color: darken($secondary-25, 80%);
    }
    .my-table > tbody > tr:nth-child(even):hover {
        background-color: darken($secondary-25, 80%);
    }

    //MENU LIST
    .my-menu-list {
        background-color: var(--bs-body-bg);
    }
    .my-menu-list > *:hover {
        background-color: rgba($light, 10%);
    }
    .my-menu-list > *:active {
        background-color: rgba($light, 15%);
    }
}

//PARA TODOS OS TEMAS
//TABLE
.my-table > tbody > tr {
    cursor: pointer;
}
.my-table > tbody > tr > td {
    padding: 0.35rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.my-table > thead > tr > th {
    padding: 0.35rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.my-table > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: var(--bs-border-radius-xl) !important;
}
.my-table > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: var(--bs-border-radius-xl) !important;
}

//MENU LIST
.my-menu-list {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.my-menu-list > * {
    padding: 0.4rem !important;
    border: none;
    border-radius: 0px !important;
    display: flex !important;
    gap: 0.8rem !important;
    align-items: center !important;
}
.my-menu-list > *:hover {
    cursor: pointer;
}

//LINKS
.my-link.my-link-active {
    font-weight: bold;
}
