.my-default-layout-root {
    height: 100svh;
    width: 100svw;
    --height-header: 3rem;
}

.my-default-layout-header {
    height: var(--height-header);
}

.my-default-layout-body {
    height: calc(100% - var(--height-header));
    overflow-x: hidden;
    overflow-y: auto;
}
